.steperHomePage {
  width: 72%;
  margin: auto;
}
.header {
  width: 92%;
  margin: auto;
}
.steperTop {
  margin-top: -5%;
}
.featureCard {
  z-index: 444;
  margin-bottom: 5%;
}
@media screen and (max-width: 30em) {
  .steperHomePage {
    width: 100%;
    margin-top: -15%;
  }
  .steperTop {
    margin-top: -15%;
  }
  .featureCard {
    margin-bottom: -5%;
  }
  .steperTop:last-child {
    margin-bottom: 10%;
  }
}
